.card {
  height: 150px;
  margin: 2px;
  background-color: #e4e4e4;
  text-align: center;
  cursor: pointer;
}

.card img {
  height: 100%;
  padding: 15px;
  transition: transform 0.2s;
}

.card img:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 676px) {
  .card {
    flex-basis: 48%;
  }
}

@media only screen and (max-width: 330px) {
  .card {
    height: 140px;
  }
}