.footer-container {
  display: flex;
  background-color: #e74c3c;
  height: 68px;
  align-items: center;
  /* position: fixed; */
  width: 100%;
}

.footer-container p {
  flex: 1;
  text-align: center;
  color: #fff;
  /* font-size: 120%; */
}